html, body {
	margin: 0;
	padding: 0;
}

html {
	font-size: 16px;
	font-family: sans-serif;
}

.container {
	position: relative;
	margin: auto;
	width: 80%;
}

body {
	background-color: #505050;
}

.border-img-icon {
	border: 5px solid red;
	border-radius: 10px;
	display: block;
	width: 50px;
}

.img-icon {
	margin-inline-start: 25%;
	display: block;
	width: 50%;
}

.layout {
	display: flex;
	flex-direction: row;
	padding: 0 30px;
}

.header {
	display: block;
	background-color: #909090;
	padding: 8px;
	position: relative;
	margin: 16px;
	box-sizing: border-box;
	box-shadow: 8px 8px 8px black;
	border-radius: 8px;
}

.bricks {
	width: 100%;
	background-image: url("resources/brick.jpg");
	height: 50px;
}

.loupe {
	position: absolute;
	right: 25px;
	top: 8px;
	height: 130px;
}

aside {
	display: inline-block;
}

.close-img {
	position: absolute;
	right: 8px;
	bottom: 8px;
	width: 16px;
}

.head-img {
	height: 100px;
}


.reload-img {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 20px;
}

.main-img-contain {
	display: block;
	background-color: #909090;
	padding: 8px;
	position: relative;
	margin: 16px;
	box-sizing: border-box;
	box-shadow: 8px 8px 8px black;
	border-radius: 8px;
}

.main-img {
	width: 100%
}

.col2, .col8 {
	display: inline-block;
	vertical-align: top;

}

.col2 {
	width: 12.5%;
	padding: 5px 5px 15px 5px;
	box-sizing: border-box;
	background-color: #909090;
	box-shadow: 8px 8px 8px black;
	border-radius: 8px;
	margin-right: 10px;
}
.col8 {
	width: 75%;
	padding: 5px 5px 15px 5px;
	box-sizing: border-box;
	background-color: #909090;
	box-shadow: 8px 8px 8px black;
	border-radius: 8px;
	margin-right: 10px;
}


form {
	background-color: #88ff8d;
	position: absolute;
	bottom: -80px;
	left: 16px;
	width: 400px;
	padding: 5px 5px 15px 5px;
	box-sizing: border-box;
	box-shadow: 8px 8px 8px black;
	border-radius: 8px;
}
